@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #5e6ad2;
    --color-primary-hover: #828fff;
    --color-primary-focus: #5e69d1;
    --color-secondary: #828fff;

    --color-canvas: #010102;
    --color-surface-1: #131316;
    --color-surface-2: #1c1c20;
    --color-surface-3: #232328;
    --color-surface-4: #2c2c32;

    --color-hairline: #23252a;
    --color-hairline-strong: #34363c;
    --color-hairline-tertiary: #1c1e22;

    --color-ink: #f7f8f8;
    --color-ink-muted: #d0d6e0;
    --color-ink-subtle: #8a8f98;
    --color-ink-tertiary: #62666d;
  }
}